:root {
	color-scheme: dark light;
	font-size: 16px;

	.gradient-text {
		color:transparent;
		background-clip: text;
		// background-image: linear-gradient(to right, #93c5fd, #60a5fa, #bfdbfe);
		background-image: linear-gradient(to right, #96a4eb, #7cbdee, #83e3f0);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.points-background {
		background-image: radial-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px);
		background-size: 6px 6px;
	}
}

h1 {
	/* Минимум 2rem, растет вместе с экраном, максимум 5rem */
	font-size: clamp(2rem, 5vw + 1rem, 5rem);
}


@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth; // Плавная прокрутка
	}
}
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		transition-duration: 0.01ms !important;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #121212;
		--text-color: #ffffff;
	}

	body {
		font-family: sans-serif;
		margin: 0;
		min-height: 100vh;
		background: radial-gradient(#303644, #232733, #141622);
	}
}
